.modal.left .modal-dialog{
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content
{
    height: 100%;
    overflow: hidden;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
    height: 100%;
    width: 100%;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.modal-body {
    position: relative;
    padding: 0rem;
}

.modal-dialog{
    max-width: 100%;
}
/*side bar*/
  
.sidebar {
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 3px 6px;
 }

 /*Vertical menu*/
 .vertical-menu {
    width: 100%;
    height: 604%;
   background-color:#eee;
  }

 .vertical-menu a {

    background-color: #eee;
    color:currentColor;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    
  }
  
  .vertical-menu a:hover {
    background-color: white;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .vertical-menu a.active {
    background-color:lightblue;
    color: white;
  }


/*Side nav elements*/
.menu-items {
    width: 100%;
    height: 604%;
    position: fixed;
    z-index: 1;
    top: 8%;
    transition: 0.5s;
    padding-top: 0px;
    text-align:left;
  }

.menu-items a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  .menu-items a:hover{
    text-decoration: underline;
    color: #1a1717;
}  

/*Drop menu*/
.menu-item {
  width: 100%;
  height: 604%;
  position: fixed;
  z-index: 1;
  top: 14%;
  transition: 0.5s;
  padding-top: 0px;
  text-align:left;
}

.menu-item a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}
.menu-item a:hover{
  text-decoration: underline;
  color: #1a1717;
}  

/*dropdown hover*/
.dropright .dropdown-menu{
  display: none;
}
.dropright:hover .dropdown-menu{
  display: block;
  left: 150%;
  border-color: white;
}

.btn-group{
  border-style: none;
}

/*Close Button*/

.vertical-menu .close-button{
  background-color: white;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

.close-button > .fa + .fa,
.close-button:hover > .fa {
  display: none;
}
.close-button:hover > .fa + .fa {
  display: inherit;
}