<div class="container d-none d-sm-block d-md-block d-lg-block d-xl-block">
    <button type="button" class="btn" data-toggle="modal" data-target="#sideNav">
        <div class="sidebar"></div>
        <div class="sidebar"></div>
        <div class="sidebar"></div>
    </button>


    <div class="modal left fade" id="sideNav" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-1">
                        <div class="vertical-menu">
                            <a class="btn disabled"></a>
                            <a class="close-button" href="#" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-close"></i>
                                <i class="fa fa-minus"></i>
                            </a>
                            <a class="btn disabled"></a>
                            <a href="#"><i class="far fa-user"></i></a>
                            <a href="#"> <i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="menu-items">
                            <a routerLink="home">Home</a>
                            <div class="btn-group dropright">
                                <a  routerLink="shop" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Shop
                                </a>
                                <div class="dropdown-menu">
                                    <div class="menu-item">
                                        <a  href="#">Amazon USA</a>
                                        <a  href="#">Amazon Canada</a>
                                        <a  href="#">PVC Bracelet</a>
                                        <a  href="#">Cart</a>
                                        <a  href="#">Order Tracking</a>
                                        <a  href="#">Checkout</a>
                                        <a  href="#">Wishlist</a>
                                    </div>
                                </div>
                              </div>                      
                            <a routerLink="contactus">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</div>