<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col">
            <button class="btn font-weight-normal">Amazon-USA</button>
            <button class="btn font-weight-normal">Amazon-Canada</button>
            <button class="btn font-weight-normal">PVC Bracelet</button>
            <button class="btn font-weight-normal">PVC Bracelet FBM</button>
            <button class="btn font-weight-normal">PVC Bracelet USA</button>
            <button class="btn font-weight-normal">Silicon Bracelet USA</button>
            <button class="btn font-weight-normal">Silicon Bracelet USA</button>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>