<div class="modal fade" id="quickView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 99%;" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" [routerLink]="['/shop']" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          <div class="row">
              <div class="col-sm-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="color: black;">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="{{productDetail.image_path[0]}}" style="max-width: 96%;" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{productDetail.image_path[2]}}" style="max-width: 96%;" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{productDetail.image_path[3]}}" style="max-width: 96%;" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span aria-hidden="true"><i class="fas fa-angle-left" style="color: black;"></i></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span aria-hidden="true"><i class="fas fa-angle-right" style="color: black;"></i></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row col-auto" style="opacity: 0.6;">
                    <h4><b>{{productDetail.product_name}}</b></h4>
                </div><br>
                <div class="row col-auto" style="opacity: 0.6;">
                    <p><b>Product description</b></p>
                </div>
                <div [innerHtml]="productDetail.info[0].info_body" class="row col-auto" style="opacity: 0.6;">
                </div><br>
                <div class="row col-auto" style="opacity: 0.6;">
                    <p><b>How to Use</b></p>
                </div><br>
                <div [innerHtml]="productDetail.info[1].info_body" class="row col-auto" style="opacity: 0.6;">
                </div><br>
                <div class="row col-auto">
                    <button type="button" class="btn btn-dark btn-block">Buy Product</button>
                </div>
                <br>
                <div class="row col-auto">
                    <p>
                        Share:<b>   <i class="fa fa-facebook fa-fw" style="font-size:20px"></i>
                                    <i class='fa fa-twitter fa-fw' style="font-size:20px"></i>
                                    <i class='fa fa-pinterest fa-fw' style="font-size:20px"></i>
                    </b></p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>