<!--
    One Button in nav for add products
    One Search tab for search by alias with autocomplte
    One button for all delete

    All product are show in table with update, delete and view button this all action by alias

-->
<!--Nav Bar-->
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ShieldHand</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="view" class="nav-link">View all</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>