<section id="slider" class="text-monospace"><br>
    <div class="container">
    <div class="container mt-3 d-none d-sm-block d-md-block d-lg-block d-xl-block">
      <div class="row">
      
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath1 = 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada-side-view.png'"
            (mouseleave)="imgpath1 = 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada.png'">
            <img src={{imgpath1}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" style="max-height: 300px;max-width: 300px;">
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row">
                <div class="col-md-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                    <p> Blue Sanitizer Bracelet on Amazon </p>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                  </div>
            </div>
        </div>
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada-side-view.png'"
            (mouseleave)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada.png'">
            <img src={{imgpath2}}  data-toggle="tooltip" title=" Grey Sanitizer Bracelet on Amazon" style="max-height: 300px;max-width: 300px;">
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row">
                <div class="col-md-10"  data-toggle="tooltip" title=" Grey Sanitizer Bracelet on Amazon">
                    <p> Grey Sanitizer Bracelet on Amazon</p>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                  </div>
            </div>
        </div> 
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada-side-view.png'"
            (mouseleave)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada.png'">
            <img src={{imgpath3}}  data-toggle="tooltip" title=" Peach Sanitizer Bracelet on Amazon" style="max-height: 300px;max-width: 300px;">
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row">
                <div class="col-md-10"  data-toggle="tooltip" title=" Peach Sanitizer Bracelet on Amazon">
                    <p> Peach Sanitizer Bracelet on Amazon</p>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada-side-view.png'"
            (mouseleave)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada.png'">
            <img src={{imgpath4}}   data-toggle="tooltip" title=" Yellow Sanitizer Bracelet on Amazon"style="max-height: 300px;max-width: 300px;">
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row">
                <div class="col-md-10"  data-toggle="tooltip" title=" Yellow Sanitizer Bracelet on Amazon">
                    <p> Yellow Sanitizer Bracelet on Amazon</p>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                  </div>
            </div>
        </div>
        <div class="modal fade" id="quickView" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 99%;" role="document">
              <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  <div class="row">
                      <div class="col-sm-8">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators" style="color: black;">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada-side-view.png" style="max-width: 96%;" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada-side-view.png" style="max-width: 96%;" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada-side-view.png"style="max-width: 96%;" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span aria-hidden="true"><i class="fas fa-angle-left" style="color: black;"></i></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span aria-hidden="true"><i class="fas fa-angle-right" style="color: black;"></i></span>
                              <span class="sr-only">Next</span>
                            </a>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p><b>Product Description</b></p>
                        </div>
                        <div class="row col-auto" style="opacity: 0.6;">
                        </div><br>
                       <div class="row col-auto" style="opacity: 0.6;">
                            <p mt-3>
                                Made with <b>high quality</b> , durable and soft silicone. <b>Adjustable</b> strap makes it ideal for the whole family. The package do not contain any liquids fill the empty refill bottle with the <b>fluid of your choice</b> (sanitizer, moisturizing cream, sunscreen lotion, etc.) and start using. If you intend to <b>travel</b>, just fill in your refill with the necessary product and enjoy your trip.
                            </p>
                        </div>
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p><b></b></p>
                        </div><br>
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p>
                                <b>Step 1:</b> Fill the bottle with the liquid of your choice (fill it up before sleeping at night or leaving home some you are never unprotected)
                                <br><br>
                                <b>Step 2:</b> Remove bracelet cover and insert the bottle nozzle in the hole, pressing the bottle until the tank is full
                                <br><br>
                                <b>Step 3:</b> After filling the tank, replace the cover and wear the band on your wrist
                                <br><br>
                                <b>Step 4:</b> To use remove the cover, squeeze to dispense some amount on your palm and apply as per need.
                                <br><br>
                                <b>Step 5:</b> Remember to replace the cover after use.
                            </p>
                        </div>
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p><b>
                                <i class='fas fa-check-square' style='color:green'></i>
                                <i class='fas fa-check-square' style='color:green'></i>
                                Protect yourself by placing an order today, go ahead and click ‘Add to Cart’ right away!
                                <i class='fas fa-check-square' style='color:green'></i>
                                <i class='fas fa-check-square' style='color:green'></i>
                            </b></p>
                        </div>
                        <div class="row col-auto">
                            <button type="button" class="btn btn-dark btn-block">Buy Product</button>
                        </div>
                        <br>
                        <div class="row col-auto">
                            <p>
                                Share:<b>   <i class="fa fa-facebook fa-fw" style="font-size:20px"></i>
                                            <i class='fa fa-twitter fa-fw' style="font-size:20px"></i>
                                            <i class='fa fa-pinterest fa-fw' style="font-size:20px"></i>
                            </b></p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div> 
      </div>
      </div>
      
      <div class="container d-block d-sm-none">
        <div class="row container">
            <div id="carouselRelatedIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="color: black;">
                  <li data-target="#carouselRelatedIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselRelatedIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselRelatedIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselRelatedIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row zoom"
                    (mouseover)="imgpath1 = 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada-side-view.png'"
                    (mouseleave)="imgpath1= 'https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet-Canada.png'">
                    <img src={{imgpath1}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="First slide">
                    </div>
                    <div class="row container zoom">
                        <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                            <p> Blue Sanitizer Bracelet on Amazon</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row zoom"
                    (mouseover)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada-side-view.png'"
                    (mouseleave)="imgpath2='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Grey-Bracelet-Canada.png'">
                    <img src={{imgpath2}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="second slide">
                    </div>
                    <div class="row">
                        <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                            <p> Blue Sanitizer Bracelet on Amazon</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row zoom"
                    (mouseover)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada-side-view.png'"
                    (mouseleave)="imgpath3='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet-Canada.png'">
                    <img src={{imgpath3}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="third slide">
                    </div>
                    <div class="row">
                        <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                            <p> Blue Sanitizer Bracelet on Amazon</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row zoom"
                    (mouseover)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada-side-view.png'"
                    (mouseleave)="imgpath4='https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Yellow-Bracelet-Canada.png'">
                    <img src={{imgpath4}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="Fourth slide">
                    </div>
                    <div class="row">
                        <div class="col-10"  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon">
                            <p> Blue Sanitizer Bracelet on Amazon</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselRelatedIndicators" role="button" data-slide="prev">
                  <span aria-hidden="true"><i class="fas fa-angle-left" style="color: black;"></i></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselRelatedIndicators" role="button" data-slide="next">
                    <span aria-hidden="true"><i class="fas fa-angle-right" style="color: black;"></i></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
      </div>
    </div>
    </section><br>
    
        