

/* ----- MODAL STYLE ----- */
.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.modal-body{
    text-align: center;
}

.modal-content{
    max-height: 100%;
}
          