<button class="btn" data-toggle="modal" data-target="#cartModel"><i class='fas fa-shopping-cart'></i></button>

<div class="modal" id="cartModel" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cartModalLabel">Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <i class='fas fa-shopping-cart' style="background-color: grey;size: 100px; border-radius: 50%;font-size: 16px;"></i>
           <br><br> No Product in the cart
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary btn-block" >Continue Shoping</button>
        </div>
      </div>
    </div>
  </div>