<div class="container-fluid pl-4 pr-4">
    <div class="row" style="font-weight: 400;font-size: 14px;">
        <div class="col-8"><nav aria-label="breadcrumb"> 
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ol>
        </nav></div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 hover-q" *ngFor="let items of products | paginate: { id: 'product_pagination',
        itemsPerPage: 8,
        currentPage: page,
        totalItems: totalRecords }; index as i;">
            <div class="row" id="zoom_img">
                <a [routerLink]="['/productDetails',items.alias]">
                    <div class="container_image">
                        <img id="image" src="{{items.icon1_path}}" alt="First" data-toggle="tooltip" title="{{items.product_name}}" style="height: 300px;width: 300px;" class="img-fluid">
                        <div class="overlay_image">
                        <div class="image2"><img src="{{items.icon2_path}}" alt="Second" data-toggle="tooltip" title="{{items.product_name}}" class="img-fluid image_de"></div>
                        </div>
                    </div>
                </a>
                <a [routerLink]="['/quickView',items.alias]">
                    <div class="overlay">
                        <button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button>
                    </div>
                </a>
            </div>

                <div class="row">
                    <div class="col-10" [routerLink]="['/productDetails',items.alias]"  data-toggle="tooltip" title="{{items.product_name}}">
                        <p><b>{{items.product_name}}</b></p>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-heart-o"></i>
                    </div>
                </div>
            
        </div>
    </div><br>
    <div class="row justify-content-center">
        <pagination-controls  class="pagination" id="product_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
     