<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Amissible Payment Manager</title>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <form method="post"  action="/pay">
				<div>
					<input type="hidden" th:value="${alias}" class="form-control" th:attr="name='alias'"/>
					<input type="hidden" th:value="${amount}" class="form-control" th:attr="name='price'"/>
					<input type="hidden" th:value="${currency}" class="form-control" th:attr="name='currency'"/>
					<input type="hidden" th:value="${token}" class="form-control" th:attr="name='description'"/>
					<input type="hidden" name="method" value="paypal" class="form-control" />
					<input type="hidden" name="intent" value="sale" class="form-control" />
				</div>
				<div class="bg-light">
					<h1 class="text-center">Amissible Payment Manager</h1>
					<h2 class="text-center" th:text="${org}"></h2>
				</div>
				<div>
					<table border="1" class="table">
						<tr><th colspan="2"><h4 class="text-center">Please confirm below details</h4></th></tr>
						<tr><th>Token</th><td th:text="${token}"></td></tr>
						<tr><th>Currency</th><td th:text="${currency}"></td></tr>
						<tr><th>Amount</th><td th:text="${amount}"></td></tr>
						<tr><td colspan="2" class="text-center"><input type="submit" class="w-100 btn btn-primary btn-lg" name="submit" value="Confirm" /></td></tr>
					</table>
				<div>
            </form>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    </body>
</html>