<section class="conatainer-fluid">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FEFEEB;">
  <!--Sidenav Start-->
  <app-side-nav></app-side-nav>
  <!--Sidenav End-->
  <a class="navbar-brand" href="#">Shield Hands</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item dropdown dropdownAuto">
        <a class="nav-link dropdown-toggle" routerLink="shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Amazon USA</a>
          <a class="dropdown-item" href="#">Amazon Canada</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">PVC Bracelet</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cart</a>
          <a class="dropdown-item" href="#">Order Tracking</a>
          <a class="dropdown-item" href="#">Checkout</a>
          <a class="dropdown-item" href="#">Wishlist</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus" >Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <app-sign-in></app-sign-in>
      <app-search></app-search>
      <app-cart></app-cart>
    </form>
  </div>
</nav>
</section>