<button class='btn' data-toggle="modal" data-target="#signinModel">Sign-In</button>

<div class="modal fade" id="signinModel" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signinModalLabel">Log in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post" class="form-group">
              <div class="container"><input type="text" name="" id="" placeholder="Userid" class="form-control"></div>
              <div class="container"><input type="password" name="" id="" placeholder="Password" class="form-control"></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block">Login</button>
        </div>
      </div>
    </div>
  </div>