<button class="btn" data-toggle="modal" data-target="#searchModel"><i class='fas fa-search'></i></button>
  
  <div class="modal fade" id="searchModel" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog model-xl" style="width: 100%;padding: 0rem;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <table #dataTable class="display table" style="width:100%">
				<thead>
				  <tr>
					<th>Id</th>
					<th>Org Nickname</th>
					<th>User Username</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>user.id1</td>
					<td>user.org_nickname1</td>
					<td>user.user_username1</td>
				  </tr>
				  <tr>
					<td>user.id2</td>
					<td>user.org_nickname2</td>
					<td>user.user_username2</td>
				  </tr>
				  <tr>
					<td>user.id3</td>
					<td>user.org_nickname3</td>
					<td>user.user_username3</td>
				  </tr>
				  <tr>
					<td>user.id4</td>
					<td>user.org_nickname4</td>
					<td>user.user_username4</td>
				  </tr>
				</tbody>
				<tfoot>
					<tr>
					  <th>Id</th>
					  <th>Org Nickname</th>
					  <th>User Username</th>
					</tr>
				</tfoot>
			</table>
        </div>
      </div>
    </div>
  </div>
