<section class="conatainer-fluid">
    <div class="card-footer text-muted" style="background-color: #EACBCB;">
        <ul class="nav">
            <li class="nav-item"><a routerLink="home" class="nav-link">Home</a></li>
            <li class="nav-item"><a routerLink="shop" class="nav-link">Shop</a></li>
            <li class="nav-item"><a routerLink="contactus" class="nav-link">Contact Us</a></li>
        </ul>
    </div>
</section>