<section class="container mt-5 mb-5">
    <div class="row">

        <div class="col-6">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8 justify-content-center text-center mt-5" style="background-color: #F2F2F2;height: 334px;"><br>
                    <h3>Get in Touch</h3>
                    <h6>Thank you for contacting us. Do leave us a review. Join us for exciting offers. In case of any issue, send an email to customerservice@shieldhands.com</h6>
                </div>
            </div>
        </div>

        <div class="col-6">
            <h2>Send your questions</h2><br><br>
            <label>Fields marked with an * are required</label><br>
            <div class="form-group">
            <input type="text" name="" id="" class="form-control" placeholder="Name *">
            </div>
            <div class="form-group">
              <input type="text" name="" id="" class="form-control" placeholder="Email *">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="" id="" rows="3" placeholder="Message *"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</section>