
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shield Hands</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="shop" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

          Shop
        </a>
        <!--Amazon USA
  Amazon Canada
  PVC Bracelet
  Cart
  Order Tracking
  Checkout
  Wishlist-->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Amazon USA</a>
          <a class="dropdown-item" href="#">Amazon Canada</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">PVC Bracelet</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cart</a>
          <a class="dropdown-item" href="#">Order Tracking</a>
          <a class="dropdown-item" href="#">Checkout</a>
          <a class="dropdown-item" href="#">Wishlist</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact-us">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
