

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color:grey;
  }
  span{
      color:lightseagreen
  }
  p{
      font-family: 'Roboto', sans-serif;
    color: black; 
  }
  .carousel-caption{
      padding-bottom: 175px;
  }
  

.btn:hover, 
.btn:focus{
outline: none;
box-shadow: none;
text-decoration: underline;
}

#slider {
padding-bottom: 45px;
}

.carousel-indicators li {
background:gray;
border-radius: 6px;
width: 12px;
height: 1px;

}

.carousel-indicators li.active {
    background:lightseagreen;

}


#slider {
padding-bottom: 45px;
}
.carousel-item {
height: 65vh;
min-height: 350px;
}