<section id="slider" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <!-- Slide One -->
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6 d-flex justify-content-center" >
                                    <div class="carousel-caption d-none d-md-block">
                                    <h1><span>SHIELD</span>HANDS</h1>
                                    <p>Sanitizer Wristband 2PCs</p>
                                    <button type="button" class="btn btn-default">Shop Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/11/Blue-side-1024x1024.jpg" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Two  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h1><span>SHIELD</span>HANDS</h1>
                                    <p>Blue Sanitizer Bracelet </p>
                                    <button type="button" class="btn btn-default">Shop Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Blue-Bracelet.png" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Three  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-caption d-none d-md-block">
                                    <h1><span>SHIELD</span>HANDS</h1>
                                    <p>Grey Sanitizer Bracelet </p>
                                    <button type="button" class="btn btn-default">Shop Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Gray-Bracelet.png" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Four  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1><span>SHIELD</span>HANDS</h1>
                                        <p>Pink Sanitizer Bracelet </p>
                                        <button type="button" class="btn btn-default">Shop Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/10/Amazon-Product-Peach-Bracelet.png" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Five  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1><span>SHIELD</span>HANDS</h1>
                                        <p>Sanitizer Wristband 2PCs</p>
                                        <button type="button" class="btn btn-default">Shop Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/11/Blue-side-1024x1024.jpg" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Six  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                <div class="carousel-caption d-none d-md-block">
                                    <h1><span>SHIELD</span>HANDS</h1>
                                    <p>Blue Sanitizer Wristband 2PCs</p>
                                    <button type="button" class="btn btn-default">Shop Now</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img src="https://shieldhands.com/wp-content/uploads/2020/11/Blue-side-1024x1024.jpg" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                            </div>
                            </div>
                        </div>
                        <!-- Slide Seven  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1><span>SHIELD</span>HANDS</h1>
                                        <p>Sanitizer Wristband 2PCs</p>
                                        <button type="button" class="btn btn-default">Shop Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/11/All-snazy-colors-1024x1024.jpg" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Eight  -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1><span>SHIELD</span>HANDS</h1>
                                        <p>Grey Sanitizer Sanitizer Wristband 2PCs</p>
                                        <button type="button" class="btn btn-default">Shop Now</button>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/10/Grey-side-1024x1024.jpg" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Nine -->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1><span>SHIELD</span>HANDS</h1>
                                        <p>Blue Sanitizer Bracelet </p>
                                        <a class="left">
                                        <button type="button" class="btn btn-default">Shop Now</button></a>d
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <img src="https://shieldhands.com/wp-content/uploads/2020/10/Green-side.jpg" class="d-block w-100" style="max-height: 535px;max-width:535px;"/>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>