<!--

<mat-vertical-stepper>
    
    <mat-step label="Product Details">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Product Name</mat-label>
          <input type="text" matInput  placeholder="Ex. Product Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Category</mat-label>
          <input type="text" matInput  placeholder="Ex. Category Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Brand</mat-label>
          <input type="text" matInput  placeholder="Ex. brand name">
        </mat-form-field>
        <mat-form-field class="example-full-width">    
          <mat-label>Alias</mat-label>
          <input type="text" matInput  placeholder="Ex. product-name">
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Image and Icon">
      <div><mat-card>  
        <mat-label>Images</mat-label>
        <mat-card-content>  
            <ul>  
                <li >  
                    <mat-progress-bar></mat-progress-bar>  
                    <span id="file-label">  
                    </span>  
                </li>  
            </ul>  
        </mat-card-content>  
        <mat-card-actions>  
            <button mat-button color="warn" >  
                <mat-icon>file_upload</mat-icon>  
                Upload  
            </button>  
        </mat-card-actions>  
    </mat-card><input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div>


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Price">
      <p>Socialize with each other.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Informations">
      <p>Socialize with each other.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Attributes">
      <p>Socialize with each other.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Stock and Inventory">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>URL</mat-label>
          <input type="text" matInput  placeholder="Ex. url">
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Promontional & Final">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>URL</mat-label>
          <input type="text" matInput  placeholder="Ex. url">
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Submit</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>-->

  <div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <label for="product_name">Product Name</label>
          <input
            type="text"
            class="form-control"
            id="product_name"
            required
            [(ngModel)]="products.product_name"
            name="product_name"
          />
        </div>
        <div class="form-group">
          <label for="alias">Alias</label>
          <input
            type="text"
            class="form-control"
            id="alias"
            required
            [(ngModel)]="products.alias"
            name="alias"
          />
        </div>
        <div class="form-group">
          <label for="brand">Brand</label>
          <input
            type="text"
            class="form-control"
            id="brand"
            required
            [(ngModel)]="products.brand"
            name="brand"
          />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <input
            type="text"
            class="form-control"
            id="category"
            required
            [(ngModel)]="products.category"
            name="category"
          />
        </div>
        <div class="form-group">
          <label for="url">Url</label>
          <input
            type="text"
            class="form-control"
            id="url"
            required
            [(ngModel)]="products.url"
            name="url"
          />
        </div>
        <div class="form-group">
          <label for="icon1_path">Icon1 Path</label>
          <input
            type="text"
            class="form-control"
            id="icon1_path"
            required
            [(ngModel)]="products.icon1_path"
            name="icon1_path"
          />
        </div>
        <div class="form-group">
          <label for="icon2_path">Icon2 Path</label>
          <input
            type="text"
            class="form-control"
            id="icon2_path"
            required
            [(ngModel)]="products.icon2_path"
            name="icon2_path"
          />
        </div>
        <div class="form-group">
          <label for="image_path">Image Path</label>
          <input
            type="text"
            class="form-control"
            id="image_path"
            required
            [(ngModel)]="products.image_path"
            name="image_path"
          />
        </div>
  
        <button (click)="saveProducts()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newProducts()">Add</button>
      </div>
    </div>
  </div>
  