<div style="background-color: #F6A6A6;">
    <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
            Free shipping in Canada for orders over CAD 30 (CAD 25 for ON/QC)
        </div>
    </div>
<div>
