<!--<table #dataTable class="display table" style="width:100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Org Nickname</th>
        <th>User Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>user.id1</td>
        <td>user.org_nickname1</td>
        <td>user.user_username1</td>
      </tr>
      <tr>
        <td>user.id2</td>
        <td>user.org_nickname2</td>
        <td>user.user_username2</td>
      </tr>
      <tr>
        <td>user.id3</td>
        <td>user.org_nickname3</td>
        <td>user.user_username3</td>
      </tr>
      <tr>
        <td>user.id4</td>
        <td>user.org_nickname4</td>
        <td>user.user_username4</td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <th>Id</th>
          <th>Org Nickname</th>
          <th>User Username</th>
        </tr>
    </tfoot>
</table>-->

<div class="list row">

  <div class="col-md-6">
    <h4>Products List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let product of products; let i = index"
        [class.active]="i == currentIndex"
        (mouseover)="setActiveProduct(product, i)"
      >
        {{ product.product_name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProducts()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentProduct">
      <h4>Products</h4>
      <div>
        <label><strong>Product Name:</strong></label> {{ currentProduct.product_name }}
      </div>
      <div>
        <label><strong>Category:</strong></label> {{ currentProduct.category }}
      </div>
      <div>
        <label><strong>Icon:</strong></label> 
        <img src='{{currentProduct.icon1_path}}' style="height: 150px;width: 150px;" alt="Fail">
      </div>

      <a class="badge badge-warning" routerLink="/update/{{ currentProduct.alias }}">
        Update
      </a>
    </div>

    <div *ngIf="!currentProduct">
      <br />
      <p>Please click on a Add...</p>
    </div>
  </div>
</div>
