<div style="width: 400px; margin: auto;">
    <div *ngIf="currentProduct" class="edit-form">
      <h4>Tutorial</h4>
      <form>
        <div class="form-group">
            <label for="product_name">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="product_name"
              required
              [(ngModel)]="currentProduct.product_name"
              name="product_name"
            />
          </div>
          <div class="form-group">
            <label for="alias">Alias</label>
            <input
              type="text"
              class="form-control"
              id="alias"
              required
              [(ngModel)]="currentProduct.alias"
              name="alias"
            />
          </div>
          <div class="form-group">
            <label for="brand">Brand</label>
            <input
              type="text"
              class="form-control"
              id="brand"
              required
              [(ngModel)]="currentProduct.brand"
              name="brand"
            />
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input
              type="text"
              class="form-control"
              id="category"
              required
              [(ngModel)]="currentProduct.category"
              name="category"
            />
          </div>
          <div class="form-group">
            <label for="url">Url</label>
            <input
              type="text"
              class="form-control"
              id="url"
              required
              [(ngModel)]="currentProduct.url"
              name="url"
            />
          </div>
          <div class="form-group">
            <label for="icon1_path">Icon1 Path</label>
            <input
              type="text"
              class="form-control"
              id="icon1_path"
              required
              [(ngModel)]="currentProduct.icon1_path"
              name="icon1_path"
            />
          </div>
          <div class="form-group">
            <label for="icon2_path">Icon2 Path</label>
            <input
              type="text"
              class="form-control"
              id="icon2_path"
              required
              [(ngModel)]="currentProduct.icon2_path"
              name="icon2_path"
            />
          </div>
          <div class="form-group">
            <label for="image_path">Image Path</label>
            <input
              type="text"
              class="form-control"
              id="image_path"
              required
              [(ngModel)]="currentProduct.image_path"
              name="image_path"
            />
          </div>
  
        <div class="form-group">
          <label><strong>Product Status:</strong></label>
          {{ currentProduct.product_status ? "Product_Status" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentProduct.product_status"
        (click)="updatePublished(false)"
      >
        Not Availabe
      </button>
      <button
        *ngIf="!currentProduct.product_status"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
      Availabe
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteProduct()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateProduct()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentProduct">
      <br />
      <p>Cannot access this Product...</p>
    </div>
  </div>
  