<section><br>
    <h2 style="text-align: center;"><em><strong>PVC Sanitizer Bracelet</strong></em></h2><br>

    <div class="image mt-5" style="display: flex;align-items: center;justify-content: center;" >
        <!-- Where is it needed?-->
        <img src="https://shieldhands.com/wp-content/uploads/2020/11/Where-is-it-need-Green-1536x1536.jpg"   class="d-block w-100" style="max-height: 1024px;max-width:725px;">
     </div>

     <div class="row">
             <!--Products with slide--> 
   <section id="slider" class="container text-monospace">
    <div class="container">
    <div class="container mt-3 d-none d-sm-block d-md-block d-lg-block d-xl-block">
      <div class="row">
      
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath5= 'https://shieldhands.com/wp-content/uploads/2020/11/All-snazy-colors-1024x1024.jpg'"
            (mouseleave)="imgpath5= 'https://shieldhands.com/wp-content/uploads/2020/11/Blue-side-1024x1024.jpg'">
            <img src={{imgpath5}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;">
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-10"  data-toggle="tooltip" title=" PVC Blue Sanitizer Wristband 2PCs on Amazon USA">
                    <p> PVC Blue Sanitizer Wristband 2PCs on Amazon USA </p>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                  </div>
            </div>
        </div>
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath6='https://shieldhands.com/wp-content/uploads/2020/11/All-snazy-colors-1024x1024.jpg'"
            (mouseleave)="imgpath6='https://shieldhands.com/wp-content/uploads/2020/10/Grey-side-1024x1024.jpg'">
            <img src={{imgpath6}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" >
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-10"  data-toggle="tooltip" title=" PVC Grey Sanitizer Wristband 2PCs on Amazon USA">
                    <p> PVC Grey Sanitizer Wristband 2PCs on Amazon USA</p>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                  </div>
            </div>
        </div> 
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath7='https://shieldhands.com/wp-content/uploads/2020/11/All-snazy-colors-1024x1024.jpg'"
            (mouseleave)="imgpath7='https://shieldhands.com/wp-content/uploads/2020/10/pink-side-view-1024x1024.jpg'">
            <img src={{imgpath7}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;">
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-10"  data-toggle="tooltip" title=" PVC Pink Sanitizer Wristband 2PCs on Amazon USA">
                    <p> PVC Pink Sanitizer Wristband 2PCs on Amazon USA</p>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-3 hover-q zoom">
            <div class="row"
            (mouseover)="imgpath8='https://shieldhands.com/wp-content/uploads/2020/11/All-snazy-colors-1024x1024.jpg'"
            (mouseleave)="imgpath8='https://shieldhands.com/wp-content/uploads/2020/10/white-side.jpg'">
            <img src={{imgpath8}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;">
                <div class="overlay"><button data-toggle="modal" data-target="#quickView" class="btn" style="color: black;">Quick View</button></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-10"  data-toggle="tooltip" title="PVC White Sanitizer Wristband 2PCs on Amazon USA">
                    <p> PVC White Sanitizer Wristband 2PCs on Amazon USA</p>
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-heart-o"></i>
                  </div>
            </div>
        </div>
        <div class="modal fade" id="quickView" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 99%;" role="document">
              <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  <div class="row">
                      <div class="col-sm-8">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators" style="color: black;">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="https://shieldhands.com/wp-content/uploads/2020/11/Blue-side-1024x1024.jpg" style="max-width: 96%;" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="https://shieldhands.com/wp-content/uploads/2020/10/Grey-side-1024x1024.jpg" style="max-width: 96%;" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="https://shieldhands.com/wp-content/uploads/2020/10/pink-side-view-1024x1024.jpg"style="max-width: 96%;" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span aria-hidden="true"><i class="fas fa-angle-left" style="color: black;"></i></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span aria-hidden="true"><i class="fas fa-angle-right" style="color: black;"></i></span>
                              <span class="sr-only">Next</span>
                            </a>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p><b>Product Description</b></p>
                        </div>
                        <div class="row col-auto" style="opacity: 0.6;">
                        </div><br>
                       <div class="row col-auto" style="opacity: 0.6;">
                            <p mt-3>
                                Made with <b>high quality</b> , durable and soft silicone. <b>Adjustable</b> strap makes it ideal for the whole family. The package do not contain any liquids fill the empty refill bottle with the <b>fluid of your choice</b> (sanitizer, moisturizing cream, sunscreen lotion, etc.) and start using. If you intend to <b>travel</b>, just fill in your refill with the necessary product and enjoy your trip.
                            </p>
                        </div>
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p><b></b></p>
                        </div><br>
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p>
                                <b>Step 1:</b> Fill the bottle with the liquid of your choice (fill it up before sleeping at night or leaving home some you are never unprotected)
                                <br><br>
                                <b>Step 2:</b> Remove bracelet cover and insert the bottle nozzle in the hole, pressing the bottle until the tank is full
                                <br><br>
                                <b>Step 3:</b> After filling the tank, replace the cover and wear the band on your wrist
                                <br><br>
                                <b>Step 4:</b> To use remove the cover, squeeze to dispense some amount on your palm and apply as per need.
                                <br><br>
                                <b>Step 5:</b> Remember to replace the cover after use.
                            </p>
                        </div>
                        <div class="row col-auto" style="opacity: 0.6;">
                            <p><b>
                                <i class='fas fa-check-square' style='color:green'></i>
                                <i class='fas fa-check-square' style='color:green'></i>
                                Protect yourself by placing an order today, go ahead and click ‘Add to Cart’ right away!
                                <i class='fas fa-check-square' style='color:green'></i>
                                <i class='fas fa-check-square' style='color:green'></i>
                            </b></p>
                        </div>
                        <div class="row col-auto">
                            <button type="button" class="btn btn-dark btn-block">Buy Product</button>
                        </div>
                        <br>
                        <div class="row col-auto">
                            <p>
                                Share:<b>   <i class="fa fa-facebook fa-fw" style="font-size:20px"></i>
                                            <i class='fa fa-twitter fa-fw' style="font-size:20px"></i>
                                            <i class='fa fa-pinterest fa-fw' style="font-size:20px"></i>
                            </b></p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div> 
      </div>
      </div>
      
      <div class="container d-block d-sm-none">
        <div class="row container">
            <div id="carouselRelatedIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators" style="color: black;">
                  <li data-target="#carouselRelatedIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselRelatedIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselRelatedIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselRelatedIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row zoom"
                    (mouseover)="imgpath5= 'https://shieldhands.com/wp-content/uploads/2020/11/All-snazy-colors-1024x1024.jpg'"
                    (mouseleave)="imgpath5 = 'https://shieldhands.com/wp-content/uploads/2020/11/Blue-side-1024x1024.jpg'">
                    <img src={{imgpath5}}  data-toggle="tooltip" title=" Blue Sanitizer Bracelet on Amazon" class="d-block w-100" style="max-width: 96%;" alt="First slide">
                    </div>
                    <div class="row container zoom">
                        <div class="col-10"  data-toggle="tooltip" title="PVC Blue Sanitizer Wristband 2PCs on Amazon USA">
                            <p> PVC Blue Sanitizer Wristband 2PCs on Amazon USA</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row zoom"
                    (mouseover)="imgpath6='https://shieldhands.com/wp-content/uploads/2020/11/All-snazy-colors-1024x1024.jpg'"
                    (mouseleave)="imgpath6='https://shieldhands.com/wp-content/uploads/2020/10/Grey-side-1024x1024.jpg'">
                    <img src={{imgpath6}}  data-toggle="tooltip" title=" PVC Grey Sanitizer Wristband 2PCs on Amazon USA" class="d-block w-100" style="max-width: 96%;" alt="second slide">
                    </div>
                    <div class="row">
                        <div class="col-10"  data-toggle="tooltip" title=" Grey Sanitizer Bracelet on Amazon">
                            <p> PVC Grey Sanitizer Wristband 2PCs on Amazon USA</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row zoom"
                    (mouseover)="imgpath7='https://shieldhands.com/wp-content/uploads/2020/10/All-snazy-colors-1024x1024.jpg'"
            (mouseleave)="imgpath7='https://shieldhands.com/wp-content/uploads/2020/10/pink-side-view-1024x1024.jpg'">
            <img src={{imgpath7}}  data-toggle="tooltip" title="PVC Pink Sanitizer Wristband 2PCs on Amazon USA" class="d-block w-100" style="max-width: 96%;" alt="third slide">
                    </div>
                    <div class="row">
                        <div class="col-10"  data-toggle="tooltip" title=" PVC Pink Sanitizer Wristband 2PCs on Amazon USA">
                            <p> PVC Pink Sanitizer Wristband 2PCs on Amazon USA</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row zoom"
                    (mouseover)="imgpath8='https://shieldhands.com/wp-content/uploads/2020/10/All-snazy-colors-1024x1024.jpg'"
            (mouseleave)="imgpath8='https://shieldhands.com/wp-content/uploads/2020/10/white-side.jpg'">
            <img src={{imgpath8}}  data-toggle="tooltip" title="PVC White Sanitizer Wristband 2PCs on Amazon USA" class="d-block w-100" style="max-width: 96%;" alt="Fourth slide">
                    </div>
                    <div class="row">
                        <div class="col-10"  data-toggle="tooltip" title=" PVC White Sanitizer Wristband 2PCs on Amazon USA">
                            <p> PVC White Sanitizer Wristband 2PCs on Amazon USA</p>
                          </div>
                          <div class="col-2">
                            <i class="fa fa-heart-o"></i>
                          </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselRelatedIndicators" role="button" data-slide="prev">
                  <span aria-hidden="true"><i class="fas fa-angle-left" style="color: black;"></i></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselRelatedIndicators" role="button" data-slide="next">
                    <span aria-hidden="true"><i class="fas fa-angle-right" style="color: black;"></i></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
      </div>
    </div>
   
   

  

   <!-- Products Highlights-->
    <h2 style="text-align: left;"><em><strong>Product Highlights</strong></em></h2>
    <div class="row">
        <ol style="list-style-type: disc;color:currentColor;" >
          <li>
            <i class='fas fa-check-square' style='color:green'></i>&nbsp;
              <b>SANITIZE WHILE YOU MOVE :</b> Your hand sanitizer will be with you whenever you need it. Fill it up with your own sanitizer in the morning and use it throughout the day.
            </li>
            <li>
              <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                <b> EASY TO USE :</b> The wristband is hassle free. Remove the stopper and press the tank to dispense as much liquid as needed.
              </li>
              <li>
                <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                  <b>VERSATILE & REUSABLE :</b> The silicone bracelet can hold up to 15 ml of sanitizer (at least 10-15 uses per fill!). Not only that, you can fill it with moisturizing cream or sunscreen too.
                <li>
                  <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                    <b>PROTECTION FOR THE WHOLE FAMILY EVERYWHERE : </b> Encourage the whole family to use the wearable. The strap fits children, teens, men and women. Use it in school, at work; while shopping, traveling and workout.
                  </li>
                  <li>
                    <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                      <b>HIGH QUALITY :</b>  Silicon used for the bracelet is durable, flexible, and waterproof. Love it or we’ll buy it back from you, no questions asked!
                    </li>
        <button type="button" class="btn btn-default get">Buy Product</button>
        </ol>
    </div> 
   
  

    <!--  How to use it?-->   
      <div class="image" style="display: flex; align-items: center; justify-content: center;" >
        <!-- Where is it needed?-->
        <img src="https://shieldhands.com/wp-content/uploads/2020/11/how-to-use-it-5-1536x1536.jpg"   class="d-block w-100" style="max-height: 1024px;max-width:1024px;">
     </div> 
  
 
    <!--  Product Description-->
    <h1><em><strong>Product Description</strong></em></h1>
   
    <div >
        <h3><em><strong>Never forget to protect your hands in the hustle and bustle of daily activities.</strong></em></h3>
        <p>Made with <b>high quality </b>, durable and soft silicone.<b> Adjustable </b>strap makes it ideal for the whole family. The package do not contain any liquids fill the empty refill bottle with the<b> fluid of your choice</b> (sanitizer, moisturizing cream, sunscreen lotion, etc.) and start using. If you intend to <b>travel</b>, just fill in your refill with the necessary product and enjoy your trip.</p>
    </div>
     <!--how to use-->
    <div>
     
      <p><strong>How to use</strong></p>
    </div>
<div>
<ol style="list-style-type: disc;color:currentColor;" >
        <li>
          <i class='fas fa-check-square' style='color:green'></i>&nbsp;
          Insert the outlet of the hand sanitizer bottle into the inlet of the wristband
          </li>
          <li>
            <i class='fas fa-check-square' style='color:green'></i>&nbsp;
            Press and fill 8-10 ml hand sanitizer into the wristband.
            </li>
            <li>
              <i class='fas fa-check-square' style='color:green'></i>&nbsp;
              Insert the entrance of the wristband into the pocket.
              </li>
              <li>
                <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                Wear the wristband by adjusting to suitable position.
                <li>
                  <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                  Takeout the entrance of the wristband and press ShieldHands logo to squeeze some amount on your hand.
                  </li>
                  <li>
                    <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                    Rub the hands together to spread all over.

                    </li>
                    <li>
                      <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                      Put the entrance of the wristband back into the pocket.
                      </li>
                     
                            <i class='fas fa-check-square' style='color:green'></i>
                            <i class='fas fa-check-square' style='color:green'></i>
                            Protect yourself and your loved ones by placing an order today. Go ahead and click<b> Add to Cart </b>right away!      
                            <i class='fas fa-check-square' style='color:green'></i>
                            <i class='fas fa-check-square' style='color:green'></i>
       </ol>
  </div>   
  <div >
    <!--  Handling and Warnings-->
    <p><strong>Handlings and Warnings</strong></p>
    <ol style="list-style-type: disc;color:currentColor;" >
      <li>
        <i class='fas fa-check-square' style='color:green'></i>&nbsp;
        Kindly avoid using excessive pressure while dispensing or you might damage the bracelet
        </li>
        <li>
          <i class='fas fa-check-square' style='color:green'></i>&nbsp;
          Children should fill it under adult supervision, and ensure they do not swallow sanitizer by mistake.
          </li>
          <li>
            <i class='fas fa-check-square' style='color:green'></i>&nbsp;
            Get a bracelet for every purpose (Do not mix different liquids)
            </li>
            <li>
              <i class='fas fa-check-square' style='color:green'></i>&nbsp;
              Avoid using watery or runny liquids.
              </li>
              <li>
                <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                Keep out of reach of small children.
                </li>
                <li>
                  <i class='fas fa-check-square' style='color:green'></i>&nbsp;
                  Store at room temperature.
                  </li>
        </ol>
  </div>
  <p><strong>Package Contents</strong></p>
  <p>2 x PVC Sanitizer Bracelet</p>
  <div class="row mb-2"><button type="button" class="btn btn-dark">Buy Product</button></div>
</section>
     </div>
</section><br>