

  /*2nd slider*/
  .hover-q:hover .overlay {
    opacity: 0.6;
  }
  .overlay {
    position: absolute;
    background: white;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 10px 46px;
    text-align: center;
    top: 50%;
  }

  
   
  .zoom img { 
    width: 100%; 
    transition: 0.3s all ease-in-out; 
  } 
   
  .zoom:hover img { 
    transform: scale(1.05); 
  } 
  
  @keyframes heartFadeInOut
  {
   0% {transform:scale(1);}
   25% {transform:scale(.97);}
   35% {transform:scale(.9);}
   45% {transform:scale(1.1);}
   75% {transform:scale(1.03);}
   100% {transform:scale(1);}
  }
  
  .fa-heart-o:hover {
    color:currentColor
    }
    
  .fa-heart-o:hover
  {
    animation:heartFadeInOut 1s infinite;
  }
  .fa-heart-o{
    color:grey; 
    fill:grey;
    cursor:pointer;
    -webkit-text-stroke: 0.2px;
    font-size:12px;
  }
  img {
    display: block;
    width: auto;
    height: auto;
  }